extends ../layout

block content
  h2 タスクの編集
  form(action=`/teams/${ teamId }/tasks/${ task.id }`, method="post")
    _csrf
    _method put


    div
      label(for="taskTitle") タイトル
      input(name="taskTitle", value=task.title)
    div
      label(for="taskBody") 内容
      - var text = task.body
      textarea(name="taskBody", rows="3")=text
    div
      label(for="selectedAssigneeId") 担当者
      select(name="selectedAssigneeId")
        option(value=0) なし
        each member in members
          option(value=member.User.id) #{member.User.displayName}

    div
      button(type="submit") 送信